body{
  padding: 0;
  margin: 0;
}

body {
    background-attachment: fixed;
    background-size: cover;


  }
.button{
  transition: tranform .4s;
  align-self: center;
  float: left;

  
}
.button:hover{
  transform:scale(1.2);
}
